{% extends "main/index.html" %}
{% block content %}

<div class="loginContainer">
    <form method="post">
        {% csrf_token %}
        <div class="loginBox">
            <h2>Cadastro</h2>
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" name="nome_empresa" id="nome_empresa"><br>
            <br>
            <label for="representante">Representante:</label>
            <input type="text" name="representante" id="representante"></label>
            <br>
            <label for="cnpj">CNPJ:</label>
            <input type="text" name="cnpj" id="cnpj"><br>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"><br>
            <br>
            <label for="telefone">Telefone:</label>
            <input type="tel" name="telefone" id="telefone"></label>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha"><br>
            <br>
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="password" name="confirmarSenha" id="confirmarSenha"><br>
            <br>
            <button type="submit">Cadastrar</button>

            
           
        </div>
    </form>
</div>

{% endblock content %}